{{>layout/header}}
<!-- Sortable Assets-->

<link rel="stylesheet" type="text/css" href="/jquery-sortable-js/st/theme.css">

<h1>오늘의 목표</h1><!-- Main component for a primary marketing message or call to action -->

<div id="simple-list" class="row">
    <h4 class="col-12">Simple list example</h4>
    <div id="example1" class="list-group col">
        <div class="list-group-item">Item 1</div>
        <div class="list-group-item">Item 2</div>
        <div class="list-group-item">Item 3</div>
        <div class="list-group-item">Item 4</div>
        <div class="list-group-item">Item 5</div>
        <div class="list-group-item">Item 6</div>
    </div>
    <div id="example2" class="list-group col">
        <div class="list-group-item">Item 1</div>
        <div class="list-group-item">Item 2</div>
        <div class="list-group-item">Item 3</div>
        <div class="list-group-item">Item 4</div>
        <div class="list-group-item">Item 5</div>
        <div class="list-group-item">Item 6</div>
    </div>
</div>
{{>layout/footer}}